* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
#root footer, #root header {
  width: 100%;
  height: 64px;
  background: #2c3136;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100vh;
  min-height: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #272A2F;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
}
#root .content {
  width: 100%;
  max-width: 1050px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#root .list {
  margin-top: -300px;
}
#root header .content {
  height: auto;
}
#root header .content .img {
  width: 59px;
  height: 26px;
  background-image: url("./img/Group31.png");
  background-size: auto;
  background-repeat: no-repeat;
}
#root table {
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
#root table thead {
  background-color: #32383E;
  padding: 0;
  height: 55px;
}
#root table tr {
  height: 64px;
  border-bottom: solid #484E55 1px;
  text-align: left;
}
#root table tr th, #root table tr td {
  font-weight: normal;
  padding-left: 18px;
}
#root table tr td:nth-child(4) {
  padding: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root table tr th .th-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root table tr th .th-line .line {
  width: 1px;
  height: 20px;
  background: #484E55;
}
#root table tr:nth-child(1) {
  height: 55px;
}
#root .request-link {
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 32px;
  border: 1px solid #969FAF;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: #FFFFFF;
}
#root .choose-link {
  text-decoration: none;
  color: #FFFFFF;
}
#root footer {
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
}
#root .loading {
  transform: translateY(0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loading-circle 4.5s forwards;
          animation: loading-circle 4.5s forwards;
}
#root main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: "title title" "menu section";
}
#root main .title {
  grid-area: title;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
#root main .menu {
  grid-area: menu;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#root main .menu .name-character {
  padding-left: 20px;
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: solid #484E55 1px;
}
#root main .menu .name-character:hover {
  background-color: #32383E;
  cursor: pointer;
}
#root main .menu .name-character:active {
  background-color: #32383E;
}
#root main section {
  overflow-y: hidden;
  grid-area: section;
  background-color: #32383E;
  height: 600px;
}
#root main section h1 {
  height: 32px;
  margin: 11px 0 17px;
  font-size: 24px;
  line-height: 32px;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#root main section .icons-data {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
#root main section .icons-data .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
#root main section .icons-data .data .container {
  width: 157px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6D767F;
  border-radius: 0 0 2px 2px;
  background-color: #6D767F;
}
#root main section .icons-data .data .container.film {
  width: 254px;
}
#root main section .icons-data .data .container.film .text-description {
  color: #E5E5E5;
}
#root main section .icons-data .data .img-container {
  border: 1px solid #6D767F;
  border-radius: 2px 2px 0 0;
  background-color: #32383E;
}
#root main section .icons-data .data .img-container .birth-year {
  width: 21px;
  height: 28px;
  background-image: url(./img/bitrhyear.png);
  background-size: auto;
}
#root main section .icons-data .data .img-container .gender {
  width: 28px;
  height: 28px;
  background-image: url(./img/gender.png);
  background-size: auto;
}
#root main section .icons-data .data .img-container .height {
  width: 27px;
  height: 28px;
  background-image: url(./img/height.png);
  background-size: auto;
}
#root main section .icons-data .data .img-container .mass {
  width: 27px;
  height: 28px;
  background-image: url(./img/weight.png);
  background-size: auto;
}
#root main section .icons-data .data .img-container .skin-color {
  width: 21px;
  height: 28px;
  background-image: url(./img/skincolor.png);
  background-size: auto;
}
#root main section .icons-data .data.film {
  width: 254px;
}
#root main section .opening {
  margin: 32px 0 0;
  padding: 0 15px;
  width: 850px;
}
#root main section .opening .text-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border: 1px solid #6D767F;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
#root main section .opening .crawl-container {
  padding: 16px;
  background: #6D767F;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
#root main section .lists {
  border: 1px solid #6D767F;
  margin: 32px 15px 0;
  border-radius: 2px;
  height: 360px;
}
#root main section .lists .icon-lists {
  display: flex;
  width: 100%;
}
#root main section .lists .icon-lists .img-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root main section .lists .icon-lists .img-container .rocket {
  width: 28px;
  height: 25.57px;
  background-image: url(./img/rocket.png);
  background-repeat: no-repeat;
}
#root main section .lists .icon-lists .img-container .film {
  width: 28px;
  height: 25.57px;
  background-image: url(./img/films.png);
  background-repeat: no-repeat;
}
#root main section .lists .icon-lists .img-container:hover {
  background-color: #6D767F;
  cursor: pointer;
}
#root main section .lists .icon-lists .img-container.active {
  background-color: #6D767F;
}
#root main section .lists .list-data.active {
  display: block;
  height: 315px;
  overflow-y: auto;
}
#root main section .lists .list-data.unactive {
  display: none;
}
#root main section .lists .list-note {
  width: 100%;
  height: 45px;
  background-color: #6D767F;
  border-bottom: solid #6D767F 1px;
  text-align: center;
}
#root .buttons {
  width: 1050px;
  display: flex;
  justify-content: flex-end;
}
#root .buttons .btn {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  background-color: Transparent;
  border: 1px solid #D9D9D9;
  text-align: center;
}
#root .buttons .btn:hover {
  cursor: pointer;
}
#root .buttons .btn:nth-child(3) {
  margin: 0;
}

@-webkit-keyframes loading-circle {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    transform: translateY(400px);
    opacity: 1;
  }
  40% {
    transform: translateY(400px);
    opacity: 1;
  }
  60% {
    transform: translateY(400px);
    opacity: 1;
  }
  80% {
    transform: translateY(400px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes loading-circle {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    transform: translateY(400px);
    opacity: 1;
  }
  40% {
    transform: translateY(400px);
    opacity: 1;
  }
  60% {
    transform: translateY(400px);
    opacity: 1;
  }
  80% {
    transform: translateY(400px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}/*# sourceMappingURL=App.css.map */