* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src : url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

%header-and-footer {
    width: 100%;
    height: 64px;
    background: #2c3136;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    min-height: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #272A2F;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF; 

    .content {
        width: 100%;
        max-width: 1135px;
        height: max-content;
    }
    .list {
        margin-top: -300px
    }

    header {
        @extend %header-and-footer;
        
        .content {
            height: auto;
            .img {
                width: 59px;
                height: 26px;
                background-image: url('./img/Group31.png');
                background-size: auto;
                background-repeat: no-repeat;
            }
        }
    }

    table {
        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;

        thead {
            background-color: #32383E;
            padding: 0;
            height: 55px;
        }
        tr {
            height: 64px;
            border-bottom: solid #484E55 1px;
            text-align: left;

            th, td {
                font-weight: normal;
                padding-left: 18px;
            }
            td:nth-child(4) {
                padding: 0;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            th {
               .th-line {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;

                   .line {
                       width: 1px;
                       height: 20px;
                       background: #484E55;
                   }
               }
            }
        }
        tr:nth-child(1) {
            height: 55px;
        }
    }

    .request-link {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 132px;
        height: 32px;
        border: 1px solid #969FAF;
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .choose-link {
        text-decoration: none;
        color: #FFFFFF;
    }

    footer {
        font-size: 14px;
        line-height: 32px;
        color: #FFFFFF;
        @extend %header-and-footer;
    }
    .loading {
        transform: translateY(0);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading-circle 4.5s forwards;
    }

    main {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr ;
        grid-template-areas:
        'title title'
        'menu section';

        .title {
            grid-area: title;
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            line-height: 32px;
        }
        .menu {
            grid-area: menu;
            width: max-content;

            .name-character {
                padding-left: 20px;
                height: 60px;
                width: 285px;
                display: flex;
                align-items: center;
                font-size: 15px;
                border-bottom: solid #484E55 1px ;
            }
            .name-character:hover {
                background-color: #32383E;
                cursor: pointer;
            }
            .name-character:active {
                background-color: #32383E;
            }
        }

        section {
            overflow-y: hidden;
            grid-area: section;
            background-color: #32383E;
            height: 600px;

            h1 {
                height: 32px;
                margin: 11px 0 17px;
                font-size: 24px;
                line-height: 32px;
                text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
                text-align: center;
            }

            .icons-data {
                padding: 0 15px;
                display: flex;
                justify-content: space-between;

                .data {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    color: #000000;
    
                    .container {
                        width: 157px;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #6D767F;
                        border-radius: 0 0 2px 2px;
                        background-color: #6D767F;
                    }
                    .container.film {
                        width: 254px;

                        .text-description {
                            color: #E5E5E5;
                        }
                    }

                    .img-container {
                        border: 1px solid #6D767F;
                        border-radius: 2px 2px 0 0;
                        background-color: #32383E;
                        
                        .birth-year {
                            width: 21px;
                            height: 28px;
                            background-image: url(./img/bitrhyear.png);
                            background-size: auto;
                        }
                        .gender {
                            width: 28px;
                            height: 28px;
                            background-image: url(./img/gender.png);
                            background-size: auto;
                        }
                        .height {
                            width: 27px;
                            height: 28px;
                            background-image: url(./img/height.png);
                            background-size: auto;
                        }
                        .mass {
                            width: 27px;
                            height: 28px;
                            background-image: url(./img/weight.png);
                            background-size: auto;
                        }
                        .skin-color {
                            width: 21px;
                            height: 28px;
                            background-image: url(./img/skincolor.png);
                            background-size: auto;
                        }
                    }
                }
                .data.film {
                    width: 254px;
                }
            }
            .opening {
                margin: 32px 0 0;
                padding: 0 15px;
                width: 850px;

                .text-description {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 45px;
                    border: 1px solid #6D767F;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;

                    
                }
                .crawl-container {
                    padding: 16px;
                    background: #6D767F;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }
            }
            .lists {
                border: 1px solid #6D767F;
                margin: 32px 15px 0;
                border-radius: 2px;
                height: 360px;

                .icon-lists {
                    display: flex;
                    width: 100%;
    
                    .img-container {
                        width: 100%;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .rocket {
                            width: 28px;
                            height: 25.57px;
                            background-image: url(./img/rocket.png);
                            background-repeat: no-repeat;
                        }
                        .film {
                            width: 28px;
                            height: 25.57px;
                            background-image: url(./img/films.png);
                            background-repeat: no-repeat;
                        }
                    }
                    .img-container:hover {
                        background-color: #6D767F;
                        cursor: pointer;
                    }
                    .img-container.active {
                        background-color: #3E454B;
                    }
                    .img-container.unactive.rockets {
                        border: 0.5px solid #6D767F;
                        border-top: none;
                        border-left: none;
                    }
                    .img-container.unactive.films {
                        border: 0.5px solid #6D767F;
                        border-top: none;
                        border-right: none;
                    }
                }

                .list-data.active {
                    display: block;
                    height: 315px;
                    overflow-y: auto;
                }
                .list-data.unactive {
                    display: none;
                    
                }
                .list-note {
                    width: 100%;
                    height: 45px;
                    background-color: #3E454B;
                    border-bottom: solid #6D767F 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
           
        }
    }
    .buttons {
        width: 1135px;
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-right: 8px;
            width: 32px;
            height: 32px;
            background-color: Transparent;
            border: 1px solid #D9D9D9;
            text-align: center;

        }
        .btn:hover {
            cursor: pointer;
        }
        .btn:nth-child(3) {
            margin: 0;
        }
    }
    
}
  
  
  
  @keyframes loading-circle {
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    20%{
      transform: translateY(400px);
      opacity: 1;
    }
    40%{
      transform: translateY(400px);
      opacity: 1;
    }
    60%{
      transform: translateY(400px);
      opacity: 1;
    }
    80%{
      transform: translateY(400px);
      opacity: 0.1;
    }
    100%{
      transform: translateY(-1000px);
      opacity: 0;
    }
  }